<template>
  <div> 
      <h2>Experience</h2>
    <v-timeline
      :align-top="alignTop"
      :dense="dense"
      :reverse="reverse"
    >
      <v-timeline-item
        v-for="n in experiences"
        :fill-dot="fillDot"
        :hide-dot="hideDot"
        :icon="icon ? 'mdi-star' : ''"
        :icon-color=" iconColor ? 'deep-orange' : ''"
        :left="left"
        :right="right"
        :small="small"
      >
        <template v-slot:icon>
          <v-avatar v-if="avatar">
            <img src="http://i.pravatar.cc/64">
          </v-avatar>
          <small>{{n.date}}</small>
        </template> 
        <v-card :outlined="true">
          <v-card-title>{{n.title}}</v-card-title>
          <v-card-subtitle>{{n.instance}}</v-card-subtitle>
          <v-card-text>
              <p>{{n.description}}</p> 
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>

<script> 
export default {
    name: 'Experience',
    data: () => ({
      alignTop: true,
      avatar: false,
      dense: true,
      fillDot: false,
      hideDot: false,
      icon: false,
      iconColor: false,
      left: false,
      reverse: true,
      right: false,
      small: false,
      

      // experiences
      experiences: []
    }),
    methods: {
        load () {
            this.experiences.push({
                title: 'Training Center',
                job: 'Web Developer',
                instance: 'Binus University',
                description: 'I undergo training center for preparation ASEAN Skills Competition (ASC) Singapore.',
                learns: ['webpack', 'gulp', 'python', 'flask'],
                date: '2019'
            })
            this.experiences.push({
                title: 'Training Center',
                job: 'Web Developer',
                instance: 'PT. Jerbee Indonesia',
                description: 'I undergo training center for preparation LKS Nasional in D.I. Yogyakarta.',
                learns: [],
                date: '2019'
            })
            this.experiences.push({
                title: 'Training Center',
                job: 'Web Developer',
                instance: 'PT. Jerbee Indonesia',
                description: 'I undergo training center for preparation LKS Provinsi Jawa Barat.',
                learns: [],
                date: '2018'
            })
            this.experiences.push({
                title: 'Internship',
                job: 'Junior Web Developer',
                instance: 'PT. Jerbee Indonesia',
                description: 'I follow internship program organized by my school.',
                learns: [],
                date: '2017'
            })
        }
    },
    components: { 
    },
    created () {
        this.load();
    }
}
</script>

<style>

</style>