<template>
  <div>
      <v-footer
        dark
        padless
    >
        <v-card
        class="flex"
        flat
        tile
        >
        <v-card-title class="teal">
            <strong class="subheading">Get connected with us on social networks!</strong>

            <v-spacer></v-spacer>

            <v-btn
            v-for="(icon, i) in icons" 
            class="mx-4"
            dark
            icon
            :href="links[i]"
            >
            <v-icon size="20px">{{ icon }}</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
            {{ new Date().getFullYear() }} — <strong>Ahmad Irfan Maulna</strong>
        </v-card-text>
        </v-card>
    </v-footer>
  </div>
</template>

<script>
export default {
    name: 'Footer',
    data: () => ({
      icons: [
        'mdi-facebook',  
        'mdi-instagram',
      ],
      links: [
          'https://web.facebook.com/profile.php?id=100011716545014',
          'https://instagram.com/ahmad_irfanm'
      ]
    }),
}
</script>

<style>

</style>