<template>
  <div>
      <v-card
            color="#385F73"
            dark
          >
            <v-card-title class="headline">Hello, I'm Irfan</v-card-title>

            <v-card-subtitle>
                I am just a young man who has ambition. I love every moments that i have in my life.
            </v-card-subtitle>

            <v-card-actions>
              <v-btn text>How About My Experience ?</v-btn>
            </v-card-actions>
        </v-card>
  </div>
</template>

<script>
export default {
    name: 'Hero'
}
</script>

<style>

</style>