<template>
  <div>
      <template>
        <v-row align="center"> 
            <v-card
            class="mx-auto"
            width="100%"
            >
            <v-list
                :disabled="disabled"
                :dense="dense"
                :two-line="twoLine"
                :three-line="threeLine"
                :shaped="shaped"
                :flat="flat"
                :subheader="subheader"
                :sub-group="subGroup"
                :nav="nav"
                :avatar="avatar"
                :rounded="rounded"
            >
                <v-subheader>As {{n.job}} I Learn</v-subheader>
                <v-list-item-group v-model="item" color="primary">
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    :inactive="inactive"
                >
                    <v-list-item-avatar v-if="avatar">
                    <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                    <v-list-item-title v-html="item"></v-list-item-title>
                    <v-list-item-subtitle v-if="twoLine || threeLine" v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                </v-list-item-group>
            </v-list>
            </v-card>
        </v-row>
        </template>
  </div>
</template>

<script>
export default {
    name: 'Learn',
    props: ['experience'],
    data: () => ({
      item: 5,
      items: [],
      disabled: false,
      dense: false,
      twoLine: false,
      threeLine: false,
      shaped: false,
      flat: false,
      subheader: false,
      inactive: false,
      subGroup: false,
      nav: false,
      avatar: false,
      rounded: false,
    }),
    created() {
        this.items = this.experience.learns;
    }
}
</script>

<style>

</style>