<template>
  <div>
      <v-app-bar app> 

        <v-toolbar-title class="font-heading">Ahmad Irfan M.</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn color="primary">
          My Resume
        </v-btn> 

        
      </v-app-bar>
  </div>
</template>

<script>
export default {
    name: 'Navbar'
}
</script>

<style>

</style>