<template>
  <div>
      <h2>Technology that I use</h2>

      <v-row justify="space-around">
        <v-col cols="12">
        <v-sheet elevation="10" class="pa-4">
            <v-chip-group
            column
            active-class="primary--text"
            >
            <v-chip v-for="tag in skills" :key="tag">
                {{ tag }}
            </v-chip>
            </v-chip-group>
        </v-sheet>
        </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
    name: "Skills",
    data() {
        return {
            skills: [
                'Laravel', 
                'React', 
                'Vue',
                'Nuxt.js', 
                'Webpack', 
                'Gulp', 
                'Python', 
                'Flask', 
                'Go Lang', 
                'Peewee', 
                'Mongo DB',
                'Firebase', 
                'Node JS', 
                'Express JS', 
                'RESTFul API', 
                'Wordpress',
                'MySQL',  
                'HTML5/CSS3', 
                '2D Game Development']
        }
    }
}
</script>

<style>

</style>