<template>
  <div id="app">

    <v-app>
      <nav id="navbar"> 
        <div class="container">  
          <div class="navbar-title"> 
            <img src="./assets/ahmad_irfanm.jpg" alt="logo" id="logo">
          </div>
          <ul class="navbar-social">
            <li><v-btn icon :href="facebook" target="_blank" class="navbar-link"><v-icon>mdi-facebook </v-icon></v-btn></li>
            <li><v-btn icon :href="instagram" target="_blank" class="navbar-link"><v-icon>mdi-instagram </v-icon></v-btn></li>
            <li><v-btn icon :href="youtube" target="_blank" class="navbar-link"><v-icon>mdi-youtube </v-icon></v-btn></li>
            <li><v-btn icon :href="linkedin" target="_blank" class="navbar-link"><v-icon>mdi-linkedin </v-icon></v-btn></li>
            <li><v-btn icon :href="gitlab" target="_blank" class="navbar-link"><v-icon>mdi-gitlab </v-icon></v-btn></li>
          </ul>
        </div>
      </nav>

      <main id="content"> 
        <div class="content-title">Ahmad Irfan Maulana</div> 
        <div class="content-subtitle">- Web Developer -</div>

        <div class="content-cta">
          <v-btn color="primary" :href="resume" outlined class="mr-4">My Resume</v-btn>
          <v-btn color="primary" :href="'mailto:' + email">Hire Me</v-btn>
        </div>
      </main>

      <div id="call-me"> 
        <v-btn color="success" :href="phone" fab x-large dark>
          <v-icon>mdi-phone</v-icon>
        </v-btn>   
      </div> 
    </v-app>

  </div>
</template>

<script>   

export default {
  title: 'Ahmad Irfan Maulana',
  name: 'app', 
  data() {
    return {
      email: 'email.ahmadirfan@gmail.com',
      resume: 'https://drive.google.com/file/d/1cJIXY8a6CrY0qBh_yCG6_MFr_TCWrbXe/view?usp=sharing',
      facebook: 'https://web.facebook.com/profile.php?id=100011716545014',
      instagram: 'https://instagram.com/ahmad_irfanm',
      linkedin: 'https://www.linkedin.com/in/ahmad-irfan-maulana-759323166/',
      gitlab: 'https://gitlab.com/ahmad_irfanm',
      youtube: 'https://www.youtube.com/channel/UCrATvIK4pprW5oeW7FBJmqg',
      phone: 'tel:081770422015'
    }
  }
}
</script>

<style> 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Rubik:wght@500&display=swap');
* {
  font-family: "Rubik"; 
}  
#logo {
  height: 80px;
}
#navbar {
  height: 180px; 
}
#navbar .container {
  height: 100%;
}
#navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .navbar-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
#navbar .navbar-social .navbar-link {
  text-decoration: none;
  margin-left: 24px;
  transition: .3s; 
} 
#content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  text-align: center;
}
#content .content-title {
  font-size: 60pt;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-family: 'Merriweather', serif; 
  position: relative;
}
#content .content-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  height: 4px;
  width: 40px;
  background: #333;
}
#content .content-subtitle {
  font-size: 24pt;
  text-transform: uppercase; 
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
  line-height: 1;
}
#call-me {
  position: absolute;
  bottom: 0px;
  height: 180px;
  display: flex;
  align-items:center;
  justify-content: center; 
  left: 50%;
  transform: translate(-50%, 0%);
}

@media screen and (max-width: 1024px) {
  #navbar {
    height: 260px;
  }
  #logo {
    height: 100px;
    margin-bottom: 24px;
  }
  #navbar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #navbar .navbar-social .navbar-link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: .3s; 
  } 
  #content .content-title {
    font-size: 50pt;
  }
}

@media screen and (max-width: 768px) {
  #content .content-title {
    font-size: 40pt;
  }
}

@media screen and (max-width: 375px) {
  #content .content-title {
    font-size: 20pt;
  }
  #content .content-subtitle {
    font-size: 14pt;
  }
  #content .content-title:after { 
    height: 2px; 
  }
}

@media screen and (max-width: 414px) {
  #logo {
    height: 80px;
    margin-bottom: 24px;
  }
  #content .content-title {
    font-size: 20pt;
  }
  #content .content-subtitle {
    font-size: 12pt;
  }
  #content .content-title:after { 
    height: 2px; 
  }
  #navbar .navbar-social .navbar-link {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    transition: .3s; 
  }
}
</style>
